{% extends 'base.html' %}

{% block title %}
    Event's of {{title}}
{% endblock %}

{% block body %}
<h1>Events for vacancy <a href="/vacancy/{{ vacancy_id }}">{{title}}</a></h1>
<p><a href="/">Homepage</a></p>
    {% for event in events %}
        <p>Title: <a href="/vacancy/{{vacancy_id}}/event/{{event.id}}">{{event.title}}</a></p>
        <p><i>Status</i>: {{event.status}}</p>
    {% endfor %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <p style="color: red">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

<button id="new_event_button" onclick="show_event_form()">Add new event</button><br>
<div id="event_form">
    <form action="/vacancy/{{ vacancy_id }}/events" method="POST">
        <p>*<input type="text" name="title" placeholder="Event title" required></p>
        <p><textarea name="description" placeholder="Event description"></textarea></p>
        <p><label for="due_to_date"></label>Due to date:
            <input type="date" name="due_to_date" id="due_to_date"></p>
        <p><input type="submit" value="Add event"></p>
    </form>
</div>

<script>
    document.getElementById('event_form').style.display = 'none';

    function show_event_form() {
        document.getElementById('event_form').style.display = 'block';
        document.getElementById('new_event_button').style.display = 'none';
        }
</script>

{% endblock %}
