{% extends 'base.html' %}


{% block title %}
   {{title}}
{% endblock %}

{% block body %}
    <h1>Edit user data</h1>

<h4>User info</h4>
<form action="" method="POST" name="user_form">
    <p><label for="name">*Name:</label>
    <input type="text" id="name" name="user_name" value="{{ user_data.name }}" required></p>

    <p><label for="email">*Email:</label>
    <input type="email" id="email" name="email" value="{{ user_data.email }}" required></p>

    <p><label for="login">*Login:</label>
    <input type="text" id="login" name="login" value="{{ user_data.login }}" required></p>

    <p><label for="passwd">*Password:</label>
    <input type="password" id="passwd" name="passwd" value="{{ user_data.passwd }}" required></p>

    <h4>Email credentials</h4>

    {% if email_cred %}
        <p><label for="email_login">*Email Login:</label>
        <input type="text" id="email_login" name="email_login" value="{{ email_cred.email_login }}" required></p>

        <p><label for="email_passwd">*Password:</label>
        <input type="password" id="email_passwd" name="email_passwd" value="{{ email_cred.email_passwd }}" required></p>

        <p><label for="pop">*POP-server:</label>
        <input type="text" id="pop" name="pop_server" value="{{ email_cred.pop_server }}" required></p>

        <p><label for="smtp">*SMTP-server:</label>
        <input type="text" id="smtp" name="smtp_server" value="{{ email_cred.smtp_server }}" required></p>

    {% else %}
        <p><label for="new_email_login">*Email Login:</label>
        <input type="text" id="new_email_login" name="email_login" required></p>

        <p><label for="new_email_passwd">*Email Password:</label>
        <input type="password" id="new_email_passwd" name="email_passwd" required></p>

        <p><label for="new_pop">*POP-server:</label>
        <input type="text" id="new_pop" name="pop_server" required></p>

        <p><label for="new_smtp">*SMTP-server:</label>
        <input type="text" id="new_smtp" name="smtp_server" required></p>
    {% endif %}

    <h4>Documents</h4>

    {% for document in documents %}
         <p>
            <a href="{{ url_for('static', filename=document.content) }}" target="_blank">{{ document.content }}</a>
         </p>
    {% endfor %}

    <p><label for="add_document">*Choose your document:</label>
    <input type="file" id="add_document" name="document"></p>
    <textarea name="doc_description" cols="30" rows="5"></textarea><br>

<h4>Templates</h4>

    {% for template in templates %}
         <p>{% if template.content %}
            <a href="{{ url_for('static', filename=template.content) }}">{{ template.content }}</a>
        {% endif %}</p>
    {% endfor %}

    <p><label for="add_tpl">Add templates:</label>
    <input type="file" id="add_tpl" name="template"></p>

    <input type="submit" name="submit" value=" Save ">
    <a href="/user">Cancel</a><br>
</form>


{% endblock %}