{% extends 'base.html' %}

{% block title %}
    {{title}}
{%  endblock %}

{% block body %}
<h1>{{title}}</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <p style="color: red">{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

    <p><button onclick="show_vacancy_form()" id="new_vacancy_button">Add new vacancy</button></p>

    <div id="vacancy_form">
        <form action="/vacancies" method="POST">
            <p>*<input type="text" name="position_name" placeholder="Position name" required></p>
            <p>*<input type="text" name="company" placeholder="Company name" required></p>
            <p>*<textarea name="description" placeholder="Description" required></textarea></p>
            <label for="contacts">Contacts: </label>
              <ul id="contacts">
                <li>Name: <input type="text" name="contact_name" placeholder="Contact name"></li>
                <li>Email: <input type="email" name="contact_email" placeholder="Contact Email"></li>
                <li>Phone: <input type="text" name="contact_phone" placeholder="Phone number"></li>
                <div id="new_field">
                </div>
              </ul>
            <input type="button" id='addfields' onclick="addNewField()" value="Add new field">
            <p><textarea name="comment" placeholder="Your comment"></textarea></p>
            <p><input type="text" name="url" placeholder="Vacancy URL"></p>
            <p><input type="submit" name="add_vacancy" value="Add vacancy" placeholder="Add new vacancy">
                <a href="/vacancies">Cancel</a></p>
        </form>
    </div>
    <div>
        {% for vacancy in vacancies %}
            <ul>
                <li><a href="/vacancy/{{ vacancy['id'] }}"><b>{{vacancy['position_name']}}</b></a></li>
                <i>Created</i>: {{vacancy['creation_date']}}<br>
                <i>Company</i>: {{vacancy['company']}}<br>
            </ul>
        {% endfor %}
    </div>


    <script>
    document.getElementById('vacancy_form').style.display = 'none';
    document.getElementById('new_contact_field').style.display = 'none';


    function show_vacancy_form() {
      document.getElementById('vacancy_form').style.display = 'block';
      document.getElementById('new_vacancy_button').style.display = 'none';
    }

    function add_new_contact() {
        document.getElementById('new_contact_field').style.display = 'block'
    }
    </script>

<script>
    function addNewField() {
        var li = document.createElement('li'),
            newField = document.createElement('input', 'type=text');
        let fieldName = prompt('Specify new contact position', 'e.g. Phone2');
        newField.placeholder = 'Specify value';
        newField.id = fieldName;
        newField.name = fieldName;
        var newLabel = document.createElement('label');
        newLabel.for = newField.id;
        newLabel.innerHTML = fieldName+':\u00A0'
        li.appendChild(newLabel);
        li.appendChild(newField);
        document.getElementById('new_field').appendChild(li)
    }

</script>

{% endblock %}
