{% extends 'base.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
<h1>{{title}}</h1>
<p><a href="/">Homepage</a></p>

        <p><i>Created</i>: {{specific_vacancy.creation_date}}</p>
        <p><i>Status</i>: {{specific_vacancy.status}}</p>
        <p><i>Vacancy URL</i>: {{specific_vacancy.url}}</p>
        <p><i>Company</i>: {{specific_vacancy.company}}</p>
        <p><i>Description</i>: {{specific_vacancy.description}}</p>
        <p><b>Contacts:</b></p>
        {% for contact in contacts %}
            <ul>
                {{contact}}
            </ul>
        {% endfor %}

<p><button id="edit_button" onclick="show_vacancy_edit_form()">Edit</button></p>

<div id="vacancy_edit">
  <form action="" method="POST">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <p style="color: red">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <p><label for="position_name">*Position name:</label><br>
    <input type="text" id="position_name" name="position_name" value="{{specific_vacancy.position_name}}" required></p>

    <p><label for="company">*Company:</label><br>
    <input type="text" id="company" name="company" value="{{specific_vacancy.company}}" required></p>

    <p><label for="desc">*Description:</label><br>
    <textarea name="description" id="desc" required>{{specific_vacancy.description}}</textarea></p>

    <p><label for="contacts">Contacts:</label><br>
    <select name="contacts" id="contacts">
      <option name="phone">Phone:</option>
      <option name="email">Email: </option>
        <input type="text" name="phone">
    </select></p>

    <p><label for="comment">Comment:</label><br>
    <textarea name="comment" id="comment" required>{{specific_vacancy.comment}}</textarea></p>

    <p><label for="url">URL:</label><br>
    <input type="text" name="url" id="url" value="{{specific_vacancy.url}}"></p>

    <p><label for="status">Status:</label><br>
    <input type="number" name="status" id="status" value="{{specific_vacancy.status}}"></p>

    <p><input type="submit" name="save_vacancy" value="Save vacancy"></p>
 </form>
</div>

    <h4><a href="/vacancy/{{specific_vacancy.id}}/events">Events</a></h4>
    <h4><a href="/vacancy/{{specific_vacancy.id}}/history">History</a></h4>
    <h4><a href="/vacancies">Back to all vacancies</a></h4>

<script>
    document.getElementById('vacancy_edit').style.display = 'none';

    function show_vacancy_edit_form() {
      document.getElementById('vacancy_edit').style.display = 'block';
      document.getElementById('edit_button').style.display = 'none'
    }
</script>

{% endblock %}
