{% extends 'base.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
<h1>{{title}}</h1>

        <p><i>Created</i>: {{specific_vacancy.creation_date}}</p>
        <p><i>Status</i>: {{specific_vacancy.status}}</p>
        <p><i>Vacancy URL</i>: {{specific_vacancy.url}}</p>
        <p><i>Company</i>: {{specific_vacancy.company}}</p>
        <p><i>Description</i>: {{specific_vacancy.description}}</p>
        <p><b>Contacts:</b></p>
        {% if vacancy_contacts %}
            {% for contacts in vacancy_contacts %}
              {% if contacts['message'] %}
                {{ contacts['message'] }}
              {% else %}
                {% for key, value in contacts.items() %}
                    <ul>
                        {% if key != '_id' and value %}
                            <li>{{ key.capitalize() }}: <b>{{ value }}</b></li>
                        {% endif %}
                    </ul>
                {% endfor %}
              {% endif %}
            {% endfor %}
        {% endif %}
      <br>


<p><button id="edit_button" onclick="show_vacancy_edit_form()">Edit current vacancy</button></p>
<div id="vacancy_edit">
  <form action="" method="POST">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <p style="color: red">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <p><label for="position_name">*Position name:</label><br>
    <input type="text" id="position_name" name="position_name" value="{{specific_vacancy.position_name}}" required></p>

    <p><label for="company">*Company:</label><br>
    <input type="text" id="company" name="company" value="{{specific_vacancy.company}}" required></p>

    <p><label for="desc">*Description:</label><br>
    <textarea name="description" id="desc" required>{{specific_vacancy.description}}</textarea></p>

    <p><label for="comment">Comment:</label><br>
    <textarea name="comment" id="comment">{{specific_vacancy.comment}}</textarea></p>

    <p><label for="url">URL:</label><br>
    <input type="text" name="url" id="url" value="{{specific_vacancy.url}}"></p>

    <p><label for="status">Status:</label><br>
    <input type="number" name="status" id="status" value="{{specific_vacancy.status}}"></p>

    <p><input type="submit" name="save_vacancy" value="Save vacancy"></p>
 </form>


{% if vacancy_contacts %}
  {% for contacts in vacancy_contacts %}
      <form id="contacts_form" action="/vacancy/{{ specific_vacancy.id }}/contact/{{ contacts['_id'] }}" method="POST">
        {% if not contacts['message'] %}
          <ul id="contacts">
              {% for key, value in contacts.items() %}
                  {% if key == '_id' %}
                    <li hidden>{{key.capitalize()}}: <input type="text" name="{{ key }}" value="{{ value }}"></li>
                  {% else %}
                    <li>{{key.capitalize()}}: <input type="text" name="{{ key }}" value="{{ value }}"></li>
                  {% endif %}
            {% endfor %}
              <div id="new_fields">
              </div>
           </ul>
          <input type="button" id='addfields' onclick="addNewField()" value="Add new field">

          <div id="new_contact_form">
            <fieldset>
                <legend>New contact</legend>
                <input type="text" name="name" placeholder="Name"><br>
                <input type="email" name="email" placeholder="Email"><br>
                <input type="text" name="phone" placeholder="Phone number"><br>
            </fieldset>
          </div>
        {% else %}
          <ul id="new_contact">
            <li><input type="text" name="contact_name" placeholder="Name or Position"></li>
            <li><input type="email" name="contact_email" placeholder="Email"></li>
            <li><input type="text" name="contact_phone" placeholder="Phone number"></li>
          </ul>
        {% endif %}<br>
          <input type="submit" value="Save contacts">
      </form>

    {% endfor %}
{% endif %}
</div>

<h4><a href="/user/mail">Send mail</a></h4>
<!--<p><button id="show_mailform_btn" onclick="show_send_mail_form()">Send email</button></p>-->
<!--<div id="send_mail_form">-->
<!--    -->
<!--</div><br>-->

    <h4><a href="/vacancy/{{specific_vacancy.id}}/events">Events</a></h4>
    <h4><a href="/vacancy/{{specific_vacancy.id}}/history">History</a></h4>
    <h4><a href="/vacancies">Back to all vacancies</a></h4>

<div style="margin: 5px 20px 10px 20px">
    {% for key, value in emails.items() %}
    <br><p>Email ID: {{ key }}</p>
        <p>Email From: {{ value.get('email_from') }}</p>
        <p>Email To: {{ value.get('email_to') }}</p>
        <p>Subject: {{ value.get('email_subject') }}</p>
        <p>Content:</p><div>{{ value.get('content') | safe }}</div>

    {% endfor %}
</div>

<script>
    document.getElementById('vacancy_edit').style.display = 'none';
    document.getElementById('send_mail_form').style.display = 'none';

    function show_vacancy_edit_form() {
      document.getElementById('vacancy_edit').style.display = 'block';
      document.getElementById('edit_button').style.display = 'none'
    }

</script>

<script>
    function addNewField() {
        var li = document.createElement('li'),
            newField = document.createElement('input', 'type=text');
        let fieldName = prompt('Specify new contact position', 'e.g. Second Phone');
        newField.placeholder = 'Specify position';
        newField.id = fieldName;
        newField.name = fieldName;
        var newLabel = document.createElement('label');
        newLabel.for = newField.id;
        newLabel.innerHTML = fieldName+':\u00A0'
        li.appendChild(newLabel);
        li.appendChild(newField);
        document.getElementById('new_fields').appendChild(li)
    }

</script>

{% endblock %}
